@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* don't use --color variables as direct reference in custom classes or styles, all --color variables must be used as reference to @theme variables */
:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --default-font-family: var(--font-sans);
  /* grays */
  --color-gray-0: rgb(255 255 255);
  --color-gray-50: rgb(249 250 251);
  --color-gray-100: rgb(243 244 246);
  --color-gray-200: rgb(229 231 235);
  --color-gray-300: rgb(209 213 219);
  --color-gray-400: rgb(156 163 175);
  --color-gray-500: rgb(107 114 128);
  --color-gray-600: rgb(75 85 99);
  --color-gray-700: rgb(55 65 81);
  --color-gray-800: rgb(31 41 55);
  --color-gray-900: rgb(17 24 39);
  --color-gray-950: rgb(3 7 18);
  --color-gray-1000: rgb(0 0 0);
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-1000);

  /* State colors */
  --color-info: rgb(37 99 235);
  --color-success: rgb(22 163 74);
  --color-warning: rgb(250 204 21);
  --color-danger: rgb(220 38 38);

  /* public theme colors / Brand colors */
  --color-primary-50: rgb(253 244 255);
  --color-primary-100: rgb(250 232 255);
  --color-primary-200: rgb(245 208 254);
  --color-primary-300: rgb(240 171 252);
  --color-primary-400: rgb(232 121 249);
  --color-primary-500: rgb(217 70 239);
  --color-primary-600: rgb(192 38 211);
  --color-primary-700: rgb(162 28 175);
  --color-primary-800: rgb(134 25 143);
  --color-primary-900: rgb(112 26 117);
  --color-primary-950: rgb(74 4 78);
  /* default primary, interaction, contrast */
  --color-primary: var(--color-primary-500);
  --color-primary-interaction: var(--color-primary-600);
  --color-primary-contrast: var(--color-gray-0);
  /* Accent colors */
  --color-accent-50: rgb(236 254 255);
  --color-accent-100: rgb(207 250 254);
  --color-accent-200: rgb(165 243 252);
  --color-accent-300: rgb(103 232 249);
  --color-accent-400: rgb(34 211 238);
  --color-accent-500: rgb(6 182 212);
  --color-accent-600: rgb(8 145 178);
  --color-accent-700: rgb(14 116 144);
  --color-accent-800: rgb(21 94 117);
  --color-accent-900: rgb(22 78 99);
  --color-accent-950: rgb(8 51 68);

  /* default accent, interaction, contrast */
  --color-accent: var(--color-accent-500);
  --color-accent-interaction: var(--color-accent-600);
  --color-accent-contrast: var(--color-gray-0);
}

.dark:root {
  --color-gray-0: rgb(0 0 0);
  --color-gray-50: rgb(3 7 18);
  --color-gray-100: rgb(17 24 39);
  --color-gray-200: rgb(31 41 55);
  --color-gray-300: rgb(55 65 81);
  --color-gray-400: rgb(75 85 99);
  --color-gray-500: rgb(107 114 128);
  --color-gray-600: rgb(156 163 175);
  --color-gray-700: rgb(209 213 219);
  --color-gray-800: rgb(229 231 235);
  --color-gray-900: rgb(243 244 246);
  --color-gray-950: rgb(249 250 251);
  --color-gray-1000: rgb(255 255 255);
  --background: var(--color-gray-100);
  --foreground: var(--color-gray-1000);

  /* State colors */
  --color-info: rgb(96 165 250);
  --color-success: rgb(42, 172, 90);
  --color-warning: rgb(202 138 4);
  --color-danger: rgb(215 96 96);

  /* Brand colors */
  --color-primary-50: rgb(74 4 78);
  --color-primary-100: rgb(112 26 117);
  --color-primary-200: rgb(134 25 143);
  --color-primary-300: rgb(162 28 175);
  --color-primary-400: rgb(192 38 211);
  --color-primary-500: rgb(217 70 239);
  --color-primary-600: rgb(232 121 249);
  --color-primary-700: rgb(240 171 252);
  --color-primary-800: rgb(245 208 254);
  --color-primary-900: rgb(250 232 255);
  --color-primary-950: rgb(253 244 255);
  /* override light mode primary, interaction, contrast */
  --color-primary: var(--color-primary-500);
  --color-primary-interaction: var(--color-primary-600);
  --color-primary-contrast: var(--color-gray-0);

  /* Accent colors */
  --color-accent-50: rgb(8 51 68);
  --color-accent-100: rgb(22 78 99);
  --color-accent-200: rgb(21 94 117);
  --color-accent-300: rgb(14 116 144);
  --color-accent-400: rgb(8 145 178);
  --color-accent-500: rgb(6 182 212);
  --color-accent-600: rgb(34 211 238);
  --color-accent-700: rgb(103 232 249);
  --color-accent-800: rgb(165 243 252);
  --color-accent-900: rgb(207 250 254);
  --color-accent-950: rgb(236 254 255);

  /* default accent, interaction, contrast */
  --color-accent: var(--color-accent-500);
  --color-accent-interaction: var(--color-accent-600);
  --color-accent-contrast: var(--color-gray-0);
}

/* Orange theme */
.theme-orange-sky {
  --color-theme-primary-50: rgb(255 247 237);
  --color-theme-primary-100: rgb(255 237 213);
  --color-theme-primary-200: rgb(254 215 170);
  --color-theme-primary-300: rgb(253 186 116);
  --color-theme-primary-400: rgb(251 146 60);
  --color-theme-primary-500: rgb(249 115 22);
  --color-theme-primary-600: rgb(234 88 12);
  --color-theme-primary-700: rgb(194 65 12);
  --color-theme-primary-800: rgb(154 52 18);
  --color-theme-primary-900: rgb(124 45 18);
  --color-theme-primary-950: rgb(67 20 7);
  /* default primary, interaction, contrast */
  --color-theme-primary: var(--color-theme-primary-500);
  --color-theme-primary-interaction: var(--color-theme-primary-600);
  --color-theme-primary-contrast: var(--color-gray-0);

  --color-theme-accent-50: rgb(240 249 255);
  --color-theme-accent-100: rgb(224 242 254);
  --color-theme-accent-200: rgb(186 230 253);
  --color-theme-accent-300: rgb(125 211 252);
  --color-theme-accent-400: rgb(56 189 248);
  --color-theme-accent-500: rgb(14 165 233);
  --color-theme-accent-600: rgb(2 132 199);
  --color-theme-accent-700: rgb(3 105 161);
  --color-theme-accent-800: rgb(7 89 133);
  --color-theme-accent-900: rgb(12 74 110);
  --color-theme-accent-950: rgb(8 47 73);
  /* default accent, interaction, contrast */
  --color-theme-accent: var(--color-theme-accent-500);
  --color-theme-accent-interaction: var(--color-theme-accent-600);
  --color-theme-accent-contrast: var(--color-gray-0);
}
/* orange theme dark */
.theme-orange-sky.dark {
  --color-theme-primary-50: rgb(67 20 7);
  --color-theme-primary-100: rgb(124 45 18);
  --color-theme-primary-200: rgb(154 52 18);
  --color-theme-primary-300: rgb(194 65 12);
  --color-theme-primary-400: rgb(234 88 12);
  --color-theme-primary-500: rgb(249 115 22);
  --color-theme-primary-600: rgb(251 146 60);
  --color-theme-primary-700: rgb(253 186 116);
  --color-theme-primary-800: rgb(254 215 170);
  --color-theme-primary-900: rgb(255 237 213);
  --color-theme-primary-950: rgb(255 247 237);
  /* override light mode primary, interaction, contrast */
  --color-theme-primary: var(--color-theme-primary-500);
  --color-theme-primary-interaction: var(--color-theme-primary-600);
  --color-theme-primary-contrast: var(--color-gray-0);

  --color-theme-accent-50: rgb(8 47 73);
  --color-theme-accent-100: rgb(12 74 110);
  --color-theme-accent-200: rgb(7 89 133);
  --color-theme-accent-300: rgb(3 105 161);
  --color-theme-accent-400: rgb(2 132 199);
  --color-theme-accent-500: rgb(14 165 233);
  --color-theme-accent-600: rgb(56 189 248);
  --color-theme-accent-700: rgb(125 211 252);
  --color-theme-accent-800: rgb(186 230 253);
  --color-theme-accent-900: rgb(224 242 254);
  --color-theme-accent-950: rgb(240 249 255);
  --color-theme-accent: var(--color-theme-accent-500);
  --color-theme-accent-interaction: var(--color-theme-accent-600);
  --color-theme-accent-contrast: var(--color-gray-0);
}

/* Purple theme */
.theme-purple-lime {
  --color-theme-primary-50: rgb(250 245 255);
  --color-theme-primary-100: rgb(243 232 255);
  --color-theme-primary-200: rgb(233 213 255);
  --color-theme-primary-300: rgb(196 181 253);
  --color-theme-primary-400: rgb(167 139 250);
  --color-theme-primary-500: rgb(139 92 246);
  --color-theme-primary-600: rgb(124 58 237);
  --color-theme-primary-700: rgb(109 40 217);
  --color-theme-primary-800: rgb(91 33 182);
  --color-theme-primary-900: rgb(76 29 149);
  --color-theme-primary-950: rgb(46 16 101);
  /* default primary, interaction, contrast */
  --color-theme-primary: var(--color-theme-primary-500);
  --color-theme-primary-interaction: var(--color-theme-primary-600);
  --color-theme-primary-contrast: var(--color-gray-0);

  --color-theme-accent-50: rgb(247 254 231);
  --color-theme-accent-100: rgb(236 252 203);
  --color-theme-accent-200: rgb(217 249 157);
  --color-theme-accent-300: rgb(190 242 100);
  --color-theme-accent-400: rgb(163 230 53);
  --color-theme-accent-500: rgb(132 204 22);
  --color-theme-accent-600: rgb(101 163 13);
  --color-theme-accent-700: rgb(77 124 15);
  --color-theme-accent-800: rgb(63 98 18);
  --color-theme-accent-900: rgb(54 83 20);
  --color-theme-accent-950: rgb(26 46 5);
  /* default accent, interaction, contrast */
  --color-theme-accent: var(--color-theme-accent-500);
  --color-theme-accent-interaction: var(--color-theme-accent-600);
  --color-theme-accent-contrast: var(--color-gray-0);
}
/* Purple theme dark */
.theme-purple-lime.dark {
  --color-theme-primary-50: rgb(46 16 101);
  --color-theme-primary-100: rgb(76 29 149);
  --color-theme-primary-200: rgb(91 33 182);
  --color-theme-primary-300: rgb(109 40 217);
  --color-theme-primary-400: rgb(124 58 237);
  --color-theme-primary-500: rgb(139 92 246);
  --color-theme-primary-600: rgb(167 139 250);
  --color-theme-primary-700: rgb(196 181 253);
  --color-theme-primary-800: rgb(233 213 255);
  --color-theme-primary-900: rgb(243 232 255);
  --color-theme-primary-950: rgb(250 245 255);
  /* override light mode primary, interaction, contrast */
  /* --color-theme-primary: var(--color-theme-primary-500);
  --color-theme-primary-interaction: var(--color-theme-primary-600);
  --color-theme-primary-contrast: var(--color-gray-0); */

  --color-theme-accent-50: rgb(26 46 5);
  --color-theme-accent-100: rgb(54 83 20);
  --color-theme-accent-200: rgb(63 98 18);
  --color-theme-accent-300: rgb(77 124 15);
  --color-theme-accent-400: rgb(101 163 13);
  --color-theme-accent-500: rgb(132 204 22);
  --color-theme-accent-600: rgb(163 230 53);
  --color-theme-accent-700: rgb(190 242 100);
  --color-theme-accent-800: rgb(217 249 157);
  --color-theme-accent-900: rgb(236 252 203);
  --color-theme-accent-950: rgb(247 254 231);
  --color-theme-accent: var(--color-theme-accent-500);
  --color-theme-accent-interaction: var(--color-theme-accent-600);
  --color-theme-accent-contrast: var(--color-gray-0);
}

/* each @theme variable must have reference somewhere, do not store actual color here */
@theme inline {
  /* reset colors */
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* shades of gray from 0 to 1000 */
  --color-gray-0: var(--color-gray-0);
  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950);
  --color-gray-1000: var(--color-gray-1000);

  /* state colors */
  --color-info: var(--color-info);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-danger: var(--color-danger);

  /* brand primary colors */
  --color-primary: var(--color-primary);
  --color-primary-interaction: var(--color-primary-interaction);
  --color-primary-contrast: var(--color-primary-contrast);
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);

  /* brand accent colors */
  --color-accent: var(--color-accent);
  --color-accent-interaction: var(--color-accent-interaction);
  --color-accent-contrast: var(--color-accent-contrast);
  --color-accent-50: var(--color-accent-50);
  --color-accent-100: var(--color-accent-100);
  --color-accent-200: var(--color-accent-200);
  --color-accent-300: var(--color-accent-300);
  --color-accent-400: var(--color-accent-400);
  --color-accent-500: var(--color-accent-500);
  --color-accent-600: var(--color-accent-600);
  --color-accent-700: var(--color-accent-700);
  --color-accent-800: var(--color-accent-800);
  --color-accent-900: var(--color-accent-900);
  --color-accent-950: var(--color-accent-950);

  /* theme primary colors */
  --color-theme-primary: var(--color-theme-primary, var(--color-primary));
  --color-theme-primary-interaction: var(
    --color-theme-primary-interaction,
    var(--color-primary-interaction)
  );
  --color-theme-primary-contrast: var(
    --color-theme-primary-contrast,
    var(--color-primary-contrast)
  );
  --color-theme-primary-50: var(
    --color-theme-primary-50,
    var(--color-primary-50)
  );
  --color-theme-primary-100: var(
    --color-theme-primary-100,
    var(--color-primary-100)
  );
  --color-theme-primary-200: var(
    --color-theme-primary-200,
    var(--color-primary-200)
  );
  --color-theme-primary-300: var(
    --color-theme-primary-300,
    var(--color-primary-300)
  );
  --color-theme-primary-400: var(
    --color-theme-primary-400,
    var(--color-primary-400)
  );
  --color-theme-primary-500: var(
    --color-theme-primary-500,
    var(--color-primary-500)
  );
  --color-theme-primary-600: var(
    --color-theme-primary-600,
    var(--color-primary-600)
  );
  --color-theme-primary-700: var(
    --color-theme-primary-700,
    var(--color-primary-700)
  );
  --color-theme-primary-800: var(
    --color-theme-primary-800,
    var(--color-primary-800)
  );
  --color-theme-primary-900: var(
    --color-theme-primary-900,
    var(--color-primary-900)
  );
  --color-theme-primary-950: var(
    --color-theme-primary-950,
    var(--color-primary-950)
  );

  /* theme accent colors */
  --color-theme-accent: var(--color-theme-accent, var(--color-accent));
  --color-theme-accent-interaction: var(
    --color-theme-accent-interaction,
    var(--color-accent-interaction)
  );
  --color-theme-accent-contrast: var(
    --color-theme-accent-contrast,
    var(--color-accent-contrast)
  );
  --color-theme-accent-50: var(--color-theme-accent-50, var(--color-accent-50));
  --color-theme-accent-100: var(
    --color-theme-accent-100,
    var(--color-accent-100)
  );
  --color-theme-accent-200: var(
    --color-theme-accent-200,
    var(--color-accent-200)
  );
  --color-theme-accent-300: var(
    --color-theme-accent-300,
    var(--color-accent-300)
  );
  --color-theme-accent-400: var(
    --color-theme-accent-400,
    var(--color-accent-400)
  );
  --color-theme-accent-500: var(
    --color-theme-accent-500,
    var(--color-accent-500)
  );
  --color-theme-accent-600: var(
    --color-theme-accent-600,
    var(--color-accent-600)
  );
  --color-theme-accent-700: var(
    --color-theme-accent-700,
    var(--color-accent-700)
  );
  --color-theme-accent-800: var(
    --color-theme-accent-800,
    var(--color-accent-800)
  );
  --color-theme-accent-900: var(
    --color-theme-accent-900,
    var(--color-accent-900)
  );
  --color-theme-accent-950: var(
    --color-theme-accent-950,
    var(--color-accent-950)
  );
}

/* Assign default contrast color to background utilities */
@utility bg-primary {
  /* color: theme(colors.primary-contrast); */
  @apply text-primary-contrast;
}

@utility bg-theme-primary {
  /* color: theme(colors.theme-primary-contrast); */
  @apply text-theme-primary-contrast;
}

@utility bg-accent {
  /* color: theme(colors.accent-contrast); */
  @apply text-accent-contrast;
}

@utility bg-theme-accent {
  /* color: theme(colors.theme-accent-contrast); */
  @apply text-theme-accent-contrast;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

@layer base {
  button:not(:disabled) {
    @apply cursor-pointer;
  }
}
